@media only screen and (min-width: 1000px) {
  .navbar {
    margin-top: 0;
  }
  .main {
    grid-column: 1 / 4;
    grid-row: 3 / 5;
  }

  .sidebar {
    display: block;
    grid-column: 4 / 5;
    grid-row: 3 / 5;
  }

  footer {
    grid-area: footer;
    grid-column: 1 / 5;
    grid-row: 5 / 6;
    color: grey;
    text-align: center;
  }

  .container {
    justify-items: stretch;
    grid-template-areas:
      "header header header header"
      "nav nav nav nav"
      "main main main sidebar"
      "main main main sidebar"
      "footer footer footer footer";
  }
}
